.friend-list-item {
  padding: 5px;
}

.friend-list-item:first-child {
  border-bottom: 1px solid black;
}

.friend-list-item:nth-child {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.friend-list-item:last-child {
  border-top: 1px solid black;
}
