.wrapper-login-panel {

}

.container-login {
    background-color: #323741;
    color: white;
    text-align: center;
}

.bg-confetti {
    background: url("../../../public/assets/background-confetti.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad {
    padding: 0px;
}
