html {
  height: 100%;
  font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fill-height {
  height: 100%;
}

.fit-width {
  width: 100%;
}

.avatar-sm {
  max-height: 50px;
  max-width: 50px;
}

.p-t-15 {
  padding-top:15px;
}
